<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="span8">
  	<% if @user.bookings.count > 0 %>
  	<h3>Bookings (<%= @user.bookings.count %>)</h3>
  	<ol class="bookings">
  		<%= render @bookings %>
  	</ol>
  		<%= will_paginate @bookings %>
  	<% else %>
  		<h3> No bookings found
  	<% end %>
</div>