<%= form_tag book_path do |f| %>
<ol>

	 <%= gravatar_for home %>
   <div align="left" >
   <% session[:home]= home %>
  	<%= home.name %>
  	&nbsp&nbsp&nbsp
  	 <%= submit_tag "Book", home: home %>
       <!--input type="hidden" name="home" value= <%=home%> />-->
  	<br>
  	Price: 
  	<%= home.price %>
    <br>
  	Occupancy: 
  	<%= home.occupancy %>
  	<br>
  </div>
</ol>
<% end %>